#mystyle.css
/* CSS Code does not work without this place keeper for some reason */
/ {background-color: black;
}
::backdrop {
    /* Gradient Background */
    background: #283048;  
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);  
}
html {
    /* Select Font */
    font-family: Arial;
    /* Gradient Background */
    background: #283048;  
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);  
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}
.aboutme {
    /* Select Font */
    font-family: Arial;
     /* Gradient Background */
     background: #283048;  
     background: -webkit-linear-gradient(to right, #859398, #283048);
     background: linear-gradient(to right, #859398, #283048);    
}
.projects {
    /* Select Font */
    font-family: Arial;
    /* Gradient Background */
    background: #283048;  
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);   
}

/* Header Styles */
h1 {
    color: white;
    background-color: black;
}
h2 {
    color: white;
        /* Gradient Background */
        background: #283048;  
        background: -webkit-linear-gradient(to right, #859398, #283048);
        background: linear-gradient(to right, #859398, #283048);   
}
h3 {
    color: white;
        /* Gradient Background */
        background: #283048;  
        background: -webkit-linear-gradient(to right, #859398, #283048);
        background: linear-gradient(to right, #859398, #283048);   }
/* Paragraph Styles */
p {
   color: white; 
}
