#mystyle.css

/ {background-color: black;
}

html {
    background-color: black;
}
.aboutme {
    background-color: red;
    font-family: Arial;
}

.projects {
    background-color: red;
    font-family: Arial;
}
