#mystyle.css
/* CSS Code does not work without this place keeper for some reason */
/ {background-color: black;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  /* Style the header */
  .header {
    font-family: arial;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    color: #f2f2f2;
    background-image: url('https://media.giphy.com/media/26BRxENao2jAzSe08/giphy.gif');
    background-size: cover;
    
    
    
    height: 70vh;
    padding:0;
    margin:0;
  }
  
  /* Style the top navigation bar */
  .topnav {
    font-family: arial;
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgb(255, 77, 0);
    color: rgb(255, 255, 255);
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    font-family: arial;
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
